<%- include("header") -%>
<head>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    
</head>


<div style="padding: 4vh;">
  <div style="display: flex;padding-bottom: 2rem;">
    <span class="material-symbols-outlined" style=" font-size: 5vh;cursor: pointer;" onclick='window.location="/"'>
      arrow_back
      </span>
    <h3 >Your new blog</h3>
  </div>
    <form method="post" action="/createblog">
        <div class="form-group" style="display: flex;flex-direction: column;row-gap: 2vh;padding-bottom: 10px;">
            <div style="display: flex;flex-direction: column;row-gap: 1.2vh;">
                <label for="heading">Heading</label>
                <input type="text" class="form-control" id="heading" name="heading" placeholder="Enter heading">
            </div>
            <div>
              <div style="display: flex;flex-direction: column;row-gap: 1.2vh;">
                <label for="content">Content</label>
                <textarea  class="form-control" id="content" name="content" placeholder="start expressing here..."></textarea>
              </div>
          <script>
            CKEDITOR.replace("content");
          </script>
        </div>
        </div>

        <button type="submit" class="btn btn-primary">Publish</button>
      </form>
</div>